.example-spacer {
    flex: 1 1 auto;
}

img {
    position: inherit;
    height: 80%;
}

/* Header font styling */
mat-toolbar {
    font-family: 'Press Start 2P', cursive !important;
}

mat-toolbar span {
    font-family: 'Press Start 2P', cursive !important;
    font-size: 12px !important;
}

mat-toolbar button,
mat-toolbar .mat-mdc-button,
mat-toolbar .mat-mdc-fab,
mat-toolbar .mat-mdc-extended-fab {
    font-family: 'Press Start 2P', cursive !important;
    font-size: 8px !important;
}
