@if (totalSessions() > 0) {
    <mat-card class="featured-card sessions-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>event_note</mat-icon>
            <mat-card-title>Your Sessions</mat-card-title>
        </mat-card-header>
        <mat-card-content class="collection-stats">
            <p>You've recorded <strong>{{ totalSessions() }}</strong> sessions. </p>
            <p>Your latest session
                was on <br> <strong>{{ latestSession()!.sessionDate | formatDate }}</strong>,<br/> and you played <br> <strong>
                {{ getGameName(latestSession()!.gameId) }}</strong>.</p>
                <p>@if (upcomingSessions().length > 0) {
                    You have <strong>{{ upcomingSessions().length }}</strong> sessions scheduled!
                    <br/>The next one is on
                    <strong>{{ nextSession()!.sessionDate | formatDate }}</strong> -
                    {{ getGameName(nextSession()!.gameId) }}.
                }
            </p>
        </mat-card-content>
    </mat-card>
} @else {
    <mat-card class="featured-card sessions-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>event_note</mat-icon>
            <mat-card-title>Your Sessions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="collection-stats">
                No sessions recorded yet. Start playing and record your first session!
            </p>
        </mat-card-content>
    </mat-card>
}
