<h2 mat-dialog-title>{{ isEditMode ? 'Edit RPG Item' : 'Add new RPG Item to collection' }}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="newRpgItemForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input required formControlName="title" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Authors (separate with ',')</mat-label>
            <input formControlName="authors" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type of item</mat-label>
            <mat-select required formControlName="itemType">
                <mat-option value="core">Core rules book</mat-option>
                <mat-option value="module">Module</mat-option>
            </mat-select>
        </mat-form-field>
        @if (selectedTags.length > 0) {
            <mat-chip-set class="selected-tags-chips">
                @for (tag of selectedTags; track tag) {
                    <mat-chip (removed)="removeTag(tag)">
                        {{ tag }}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                }
            </mat-chip-set>
        }

        <mat-form-field class="example-full-width">
            <mat-label>Tags</mat-label>
            <input
                type="text"
                matInput
                [formControl]="tagInput"
                [matAutocomplete]="auto"
                placeholder="Type to search or add tag"
                (keydown.enter)="onEnterKey($event)"
            />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTagSelected($event)">
                @for (tag of filteredTags(); track tag) {
                    <mat-option [value]="tag">{{ tag }}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Year Released</mat-label>
            <input formControlName="yearReleased" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rate it (1 to 20)</mat-label>
            <input formControlName="userRating" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Official</mat-label>
            <input formControlName="website" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea formControlName="notes" matInput></textarea>
        </mat-form-field>

        <section>
            <mat-checkbox formControlName="isOwned">I own this item</mat-checkbox>
        </section>
        <section>
            <mat-checkbox formControlName="onWishList">On my wishlist</mat-checkbox>
        </section>

        <mat-dialog-actions align="end">
            <button type="button" mat-button mat-dialog-close>Cancel</button>
            <button type="button" mat-button (click)="onSubmit()">Add</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
